/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbar .logo {
        margin-left: 0px;
    }

    .navbar .logo img {
        width: 119px;
        height: 56px;
    }

    .navbar .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
    }

    .icon {
        color: #273447;
    }

    #hero-section-row-1 img {
        width: 349px;
        height: 236.57px;
        margin-top: 54px;
    }

    #hero-section-row-1 h1 {
        margin-left: auto;
        text-align: center;
    }

    #hero-section-row-1 p {
        margin-left: auto;
        text-align: center;
    }

    #hero-section-row-3 img {
        width: 349px;
        height: 340.54px;
    }

    #hero-section-row-4 img {
        width: 452.94px;
        height: 472px;
        margin-left: 66px;
    }


    #hero-section-row-2 p {
        color: #39667F;
        font-family: OpenSans-Regular;
        font-weight: 300;
        font-size: 18px;
        line-height: 28.8px;
        font-style: normal;
        text-align: center;
    }

    #hero-section-col-2 img {
        margin-left: 46px;
        margin-right: 46px;
        width: 280.46px;
        height: 330.74px;
    }

    .ra-section_3 h1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 133.69%;
        text-align: center;
        color: #1F2E35;
    }

    .ra-section_3 h2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 133.69%;
        color: #EE4248;
    }

    .ra-section_3 p {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #30444E;
    }

    .ra-section_3 {
        background-color: rgb(255, 255, 255);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 0px;
        padding: 0 26px 26px;
    }

    .section-3 p {
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
        font-style: normal;
        color: rgba(0, 0, 0, 0.8);
    }

    .ra-section_4 {
        background-color: rgb(255, 255, 255);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .ra-section_4 h3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #263238;
    }

    .ra-section_4 p {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 149.19%;
        color: #263238;
        text-align: center;
    }

    .ra-section_5 {
        background-color: #EE4248;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 70px;
        left: 0px;
    }

    .ra-section_5 h3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
    }

    .ra-section_6 {
        background-color: rgb(255, 255, 255);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0 22px 0 22px;
    }

    .ra-section_7 img {
        position: absolute;
        width: 411px;
        height: 64px;
        left: 0px;
        top: 3271px;
    }

    .ra-section_6 p {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.8);
        text-align: center;
        font-weight: 300;
        font-style: normal;
        line-height: 31.5px;
    }

    /* Service */
    .serv-section_1 {
        background-image: url(../img/Background001.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        width: unset;
        height: 382px;
        margin-top: 100px;
    }

    .serv-section_1 h1 {
        background-image: url(../img/Background.png);
        background-repeat: repeat-x;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 133.69%;
        text-align: center;
        color: #263238;
        padding: 46px 22px 167px 30px;
    }

    .serv-section_1 h2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 133.69%;
        color: #EE4248;
    }

    .serv-section_1 p {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #30444E;
    }

    #serv-section-row-1 img {
        width: 362.99px;
        height: 343px;
        margin-top: 54px;
    }

    #serv-section-row-1 p {
        margin-left: 6px;
    }

    .redfont2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 133.69%;
        color: #EE4248;
    }

    /* Product Section */
    .prod-section_1 {
        background-color: #F6F6F6;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 355px;
        left: 0px;
    }

    .prod-section_1 h1 {
        padding: 23px 7px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 133.69%;
        text-align: center;
        color: #FFFFFF;
        background-color: #EE4248;
    }

    .whitefont1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 133.69%;
        text-align: center;
        color: #FFFFFF;
    }

    #prod-section-row-1 img {
        width: 349px;
        height: 226px;
        left: 562px;
    }

    /* Technology */
    .tech-section_1 {
        background-size: cover;
        position: absolute;
        width: unset;
        height: 382px;
        margin-top: 100px;
    }

    .tech-section_1 h1 {
        background-repeat: repeat-x;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 133.69%;
        text-align: center;
        color: #FFFFFF;
        padding: 46px 1px 191px 1px;
    }

    .topbg1 {
        position: absolute;
        width: 612px;
        height: 440px;
        left: -103px;
        top: 0px;
        z-index: -1;
    }

    .topbg2 {
        position: absolute;
        width: 612px;
        height: 465px;
        left: -103px;
        top: 0px;
        z-index: -2;
    }

    .topbut {
        position: absolute;
        margin-left: 100px;
        z-index: -2;
    }

    .whitefont2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 133.69%;
        text-align: center;
        color: #FFFFFF;
    }

    .buttn {
        border: 0;
        z-index: -1;
        text-decoration: none;
        position: absolute;
        width: 166px;
        height: 53px;
        margin-top: -21vh;
        margin-left: 30vw;
        background: #FFFFFF;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
        letter-spacing: 1.05px;
        color: #EE4248;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
    }

    .maclap {
        position: absolute;
        width: 334px;
        height: 187px;
        left: 40px;
        top: 352px;
    }

    #tech_icons {
        width: 63.02px;
        height: 84.03px;
        margin-left: 12%;
        margin-top: 30%;
        display: inline-flex;
        flex-wrap: nowrap;
        align-items: baseline;
        justify-content: space-between;
    }

    .ic1 {
        margin-right: 125px;     
        width: 34.78px;
        height: 46.37px;
        left: 32px;
        top: 283.34px;
    }

    .ic2 {
        margin-right: 125px;     
        width: 44.44px;
        height: 44.44px;
        left: 100.17px;
        top: 284.67px;
    }

    .ic3 {
        margin-right: 125px;     
        width: 48px;
        height: 48px;
        left: 178px;
        top: 282px;
    }

    .ic4 {
        margin-right: 125px;     
        width: 48px;
        height: 48px;
        left: 260px;
        top: 282px;        
    }

    .ic5 {
        margin-right: 125px;     
        width: 37.67px;
        height: 37.68px;
        left: 340.93px;
        top: 287.34px;
    }

    .tech-section_2 {
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 640px;
    }

    .tech-section_2 h1 {
        position: absolute;
        width: 377.17px;
        height: 73.85px;
        left: 25px;
        top: 700px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 140.69%;
        color: #263238;
    }

    .tech-section_2 p {
        position: absolute;
        width: 357px;
        height: 808.83px;
        left: 25px;
        top: 790px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 140.69%;      
        text-align: justify;
        color: #263238;
    }

    #line {
        position: absolute;
        width: 88px;
        height: 8.12px;
        left: 15px;
        top: 740px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .navbar .logo {
        margin-left: 50px;
    }

    .navbar.sticky {
        height: 100px;
    }

    .navbar .content {
        width: 100%;
    }

    .navbar .menu-list {
        margin-right: 19%;
        margin-left: 12%;
    }

    .menu-list li {
        margin-right: 13px;
    }

    #hero-section-row-1 img {
        width: 562.97px;
        height: 381.61px;
        left: 562px;
    }

    #hero-section-row-3 img {
        width: 452.94px;
        height: 472px;
    }

    #hero-section-row-4 img {
        width: 452.94px;
        height: 472px;
    }


    #hero-section-row-2 p {
        color: #39667F;
        font-family: OpenSans;
        font-weight: 300;
        font-size: 24px;
        line-height: 42px;
        font-style: normal;
        text-align: left;
    }

    .ra-section_3 {
        background-color: rgb(255, 255, 255);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 750px;
    }

    .ra-section_3 h1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 133.69%;
        text-align: center;
        color: #1F2E35;
    }

    .ra-section_3 h2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 133.69%;
        color: #EE4248;
    }

    .ra-section_3 p {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #30444E;
    }

    .ra-section_4 h3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #263238;
    }

    .ra-section_4 p {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 149.19%;
        color: #263238;
        text-align: left;
        padding-left: 115px;
    }

    .section-3 p {
        font-weight: 300;
        font-size: 24px;
        line-height: 42px;
        font-style: normal;
        color: rgba(0, 0, 0, 0.8);
    }

    .ra-section_5 {
        background-color: #EE4248;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 70px;
        left: 0px;
    }

    .ra-section_5 h3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
    }

    .ra-section_7 img {
        position: absolute;
        width: 1440px;
        height: 64px;
        left: 0px;
        top: 2094px;
    }

    /* Service */
    .serv-section_1 {
        background-image: url(../img/Background001.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        width: unset;
        height: 382px;
        margin-top: 100px;
    }

    .serv-section_1 h1 {
        background-image: url(../img/Background.png);
        background-repeat: repeat-x;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 133.69%;
        text-align: center;
        color: #263238;
        padding: 46px 509px 218px 477px;
    }

    .serv-section_1 h2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 133.69%;
        color: #EE4248;
    }

    .serv-section_1 p {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #30444E;
    }

    #serv-section-row-1 img {
        width: 567px;
        height: 541px;
        left: 562px;
    }

    #serv-section-row-1 h1 {
        margin-left: 150px;
    }

    #serv-section-row-1 p {
        margin-left: 150px;
    }

    /* Product Section */
    .prod-section_1 {
        background-color: #F6F6F6;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 330px;
        left: 0px;
    }

    .prod-section_1 h1 {
        padding: 50px 365px 60px 374px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 133.69%;
        text-align: center;
        color: #FFFFFF;
        background-color: #EE4248;
    }

    #prod-section-row-1 img {
        width: 574.66px;
        height: 338px;
        margin-top: auto;
    }

    /* Technology */
    .tech-section_1 {
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 640px;
    }

    .tech-section_1 h1 {
        background-repeat: repeat-x;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 140.69%;
        text-align: center;
        color: #FFFFFF;
        padding: 100px 30px 212px 46px;
    }

    .topbg1 {
        position: absolute;
        width: 1540px;
        height: 598px;
        margin-top: 0px;
        z-index: -1;
    }

    .topbg2 {
        position: absolute;
        width: 1540px;
        height: 632px;
        margin-top: 0px;
        z-index: -2;
    }

    .topbut {
        position: absolute;
        margin-top: -180px;
        padding: 8px 12px 214px 644px;
        z-index: -1;
    }

    .whitefont2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 133.69%;
        text-align: center;
        color: #FFFFFF;
    }

    .buttn {
        border: 0;
        z-index: -1;
        text-decoration: none;
        position: absolute;
        width: 166px;
        height: 53px;
        margin-top: -21vh;
        margin-left: 44vw;
        background: #FFFFFF;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
        letter-spacing: 1.05px;
        color: #EE4248;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
    }

    .maclap {
        position: absolute;
        width: 567px;
        height: 317px;
        left: 462px;
        top: 422px;
    }

    #tech_icons {
        width: 63.02px;
        height: 84.03px;
        margin-left: 23%;
        margin-top: 23%;
        display: inline-flex;
        flex-wrap: nowrap;
        align-items: baseline;
        justify-content: space-between;
    }

    .ic1 {
        margin-right: 125px;
        width: 63.02px;
        height: 84.03px;
        left: 277px;
        top: 39px;
    }

    .ic2 {
        margin-right: 125px;
        margin-left: 100px;
        width: 80.53px;
        height: 80.53px;
        left: 465.02px;
        top: 41px;
    }

    .ic3 {
        margin-right: 125px;
        margin-left: 200px;
        width: 87px;
        height: 88px;
        left: calc(50% - 87px/2 - 5.95px);
        top: calc(50% - 88px/2);
    }

    .ic4 {
        margin-right: 125px;
        margin-left: 300px;
        width: 87px;
        height: 87px;
        left: calc(50% - 87px/2 + 206.05px);
        top: calc(50% - 87px/2 + 0.5px);
    }

    .ic5 {
        margin-right: 125px;
        margin-left: 400px;
        width: 68.27px;
        height: 68.27px;
        left: 1094.55px;
        top: 47px;
    }

    .tech-section_2 {
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 640px;
    }

    .tech-section_2 h1 {
        position: absolute;
        width: 233px;
        height: 45px;
        left: 160px;
        top: 994px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 140.69%;     
        text-align: center;
        color: #263238;
    }

    .tech-section_2 p {
        position: absolute;
        width: 1119px;
        height: 325px;
        left: 156px;
        top: 1071px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 140.69%;
        text-align: justify;
        color: #263238;
    }

    #line {
        position: absolute;
        width: 88px;
        height: 5px;
        left: 160px;
        top: 1039px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #hero-section-row-1 img {
        width: 562.97px;
        height: 381.61px;
        left: 400px;
    }

    #hero-section-row-3 img {
        width: 505px;
        height: 509px;
        /* left: 400px; */
    }

    #hero-section-row-4 img {
        width: 452.94px;
        height: 472px;
    }

}