@font-face {
    font-family: OpenSans-Regular;
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
  }
  
  @font-face {
    font-family: OpenSans-SemiBold;
    src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf");
  }
  
  @font-face {
    font-family: Philosopher-Bold;
    src: url("../fonts/Philosopher/Philosopher-Bold.ttf");
  }
  
  @font-face {
    font-family: OpenSans-Italic;
    src: url("../fonts/Open_Sans/OpenSans-Italic.ttf");
  }
  
  * {
    font-family: OpenSans-Regular;
  }
  
  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -0);
    margin-left: calc(var(--bs-gutter-x)/ -0);
  }

  .row-1 {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    /* margin-right: calc(var(--bs-gutter-x)/ -0); */
    /* margin-left: calc(var(--bs-gutter-x)/ -0); */
  }

  /*  */
html,
body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}

.ra-hero {
  min-height: 900px;
  /* background-image: url('../img/hero.png'); */
  background-repeat: no-repeat;
  background-size: cover;
}

/*  */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::selection {
  background: rgb(0, 123, 255, 0.3);
}

.content {
  padding: 0 30px;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
}

.navbar.sticky {
  background-color: rgb(255, 255, 255);
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.navbar .menu-list {
  display: inline-flex;
}

.menu-list li {
  list-style: none;
}

.menu-list li a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgba(31, 46, 53, 0.8);
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu-list li a:hover {
  color: #007bff;
}


.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

@media (max-width: 1230px) {
  .content {
    padding: 0 60px;
  }
}

@media (max-width: 1100px) {
  .content {
    padding: 0 40px;
  }
}

@media (max-width: 900px) {
  .content {
    padding: 0 30px;
  }
}

@media (max-width: 868px) {
  body.disabled {
    overflow: hidden;
  }

  .icon {
    display: block;
  }

  .icon.hide {
    display: none;
  }

  .navbar .menu-list {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease;

  }

  .navbar.show .menu-list {
    left: 0%;
  }

  .navbar .menu-list li {
    margin-top: 45px;
  }

  .navbar .menu-list li a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: rgba(31, 46, 53, 0.8);
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .navbar.show .menu-list li a {
    margin-left: 0px;
  }
}

@media (max-width: 380px) {
  .navbar .logo a {
    font-size: 27px;
  }
}

.redfont {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 133.69%;
  color: #EE4248;
}

.redfont1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #EE4248;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 992px) {
  .redfont2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 133.69%;
    color: #EE4248;
  }
}

.whitefont{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}